<div class="result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @my_stock %>
  <div class="card card-header result-block">
    <strong>Symbol: </strong><%= @my_stock.ticker %>
    <strong>Name: </strong><%= @my_stock.name %>
    <strong>Price($): </strong><%= @my_stock.last_price %>
    <% if current_user.can_track_stock?(@my_stock.ticker) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @my_stock.ticker),
                                      class: 'btn btn-xs btn-success', method: :post %>
    <% else %>
      <span class="badge badge-secondary">
        You are already tracking
        <% if !current_user.stock_limit? %>
          10 stocks!
        <% end %>
        <% if current_user.tracked_stock?(@my_stock.ticker) %>
          this stock!
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>